# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/

# Virtual envs
venv/
env/
.venv/

# SQLite local
*.db
*.sqlite3

# Variables de entorno
.env

# Editores
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
